extends layout

block content
  h1= title
  div(class="row") 
    div(class="col-md-8 table-responsive" ng-controller="UserListCtrl")
      table(class="table table-striped")
        thead
          tr
            td #
            td name
            td from
            td age
            td edit
            td delete
        tbody   
          each val, index in gente            
            tr 
              td= val._id
              td= val.name    
              td= val.from
              td= val.age
              td
                span(class="glyphicon glyphicon-edit text-primary pointer" ng-click="edit($event, "+val._id+")") 
              td
                span(class="glyphicon glyphicon-trash text-danger pointer")

  
  div(class="row")     
    div(class="col-md-4")
      form(name="add", action="/save", method="post")
        input(type="text", name="name")
