doctype html
html(lang="es" ng-app="neo4jApp")
  head
    title= title
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/angular.js")    
    script(type="text/javascript", src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content